<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title><%= htmlWebpackPlugin.options.title %></title>
    <%= htmlWebpackPlugin.tags.headTags %>
    <style>
    code {color: rgb(77, 3, 73);}
    </style>
  </head>
  <body>
    <div>
      <p>---------------</p>
      <p>test version with include in html</p>
      <%= require('html-loader!./control.html').default %>
      <p>---------------</p>
      <p>&nbsp;</p>
      <p>---------------</p>
      <p>Client side</p>
      <div id="root"></div>
      <p>---------------</p>
      <p>&nbsp;</p>
      <p>---------------</p>
      <p>Using markdown-loader</p>
      <%= require('./test.md').default %>
      <!-- < %= JSON.stringify(require('./test.md')) % > -->
      <p>---------------</p>

      <p>&nbsp;</p>
      <p>---------------</p>
      <p>Using <code>templateParameters</code>. Doesn't resolve linked files paths</p>
      <%= mdContent %>
      <p>---------------</p>

      <!-- <p>&nbsp;</p>
      <p>---------------</p>
      <p>More md files joined in another ejs file</p>
      <p>Doesn't work</p>
      < %= require("./markdown-joiner.ejs")() % >
      <p>---------------</p> -->

    </div>

    <%= htmlWebpackPlugin.tags.bodyTags %>
  </body>
</html>
